<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{%static 'styles.css'%}" rel="stylesheet">

</head>
<style>
    a { color: red; }
    body h1   {color: red;}
  </style>
<body bgcolor="Lightskyblue">

<h1 style="color:red;">hello world</h1>

   <a href="https://tapasadhikary.com">My Website</a>
<table class="data">
  <tr>
    <th>Entry Header 1</th>
    <th>Entry Header 2</th>
    <th>Entry Header 3</th>
    <th>Entry Header 4</th>
  </tr>


</table>
</body>
</html>

